.box{
    background: #611B3F;
    width: 800px;
    height: 600px;
}

.rectangular {
    position: absolute;
    background: #BE3184;
    width: 500px;
    height: 300px;
}
.rectangular1 {
    top: -15%;
    right: 10%;
    border-radius: 85px;
    
}
.rectangular2 {
    bottom: 20%;
    left: -10%;
    border-radius: 85px;
}
.circle{
    position: absolute;
    width: 200px;
    height: 200px;
    background: #BE3184;
    border-radius: 50%;
}
.circle1 {
    top: 22%;
    left: 30%;
 }